<p id="notice"><%= notice %></p>

<figure class="figure">
  <%= image_tag @veterinario.picture.thumb.url, class: 'figure-img img-fluid rounded' %>
  <figcaption class="figure-caption"></figcaption><br>
</figure>

<p>
  <strong>Nombre:</strong>
  <%= @veterinario.nombre %>
</p>

<p>
  <strong>Apodo:</strong>
  <%= @veterinario.apodo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @veterinario.fecha_nacimiento %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @veterinario.especialidad %>
</p>

<p>
  <strong>Email:</strong>
  <%= @veterinario.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @veterinario.telefono %>
</p>

<%= link_to 'Edit', edit_veterinario_path(@veterinario) %> |
<%= link_to 'Back', veterinarios_path %>
