<!-- Modal -->
<div id="editModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar perro</h4>
      </div>
      <div class="modal-body">
        <%= form_for @perro, :remote=> true do |f| %>
            <% if @perro.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@perro.errors.count, "error") %> prohibited this perro from being saved:</h2>
                        <ul>
                            <% @perro.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                </div>
            <% end %><br>

            <div class="field">
              <%= f.label :nombre %>
              <%= f.text_field :nombre, id: :perro_nombre %>
            </div><br>

            <div class="field">
                <%= f.label :picture %>
                <%= f.file_field :picture, id: :perro_picture %>
            </div><br>

            <div class="field">
              <%= f.label :raza %>
              <%= f.text_field :raza, id: :perro_raza %>
            </div><br>

            <div class="field">
              <%= f.label :sexo %>
              <%= f.select :sexo, ['Macho','Hembra'], {include_blank: "Seleccione"} %>
            </div><br>

            <div class="field">
              <%= f.label :peso%>
              <%= f.number_field :peso, id: :perro_peso%> [Kg]
            </div><br>

            <div class="field">
              <%= f.label :porte%>
              <%= f.select :porte, ['pequeño','mediano','grande','gigante'], {include_blank: "Seleccione"} %>
            </div><br>

            <div class="field">
              <%= f.label :fecha_nacimiento %>(Estimada)<br>
              <%= f.date_field :fecha_nacimiento, id: :perro_fecha_nacimiento %>
            </div>

            <div class="field">
              <%= f.label :agresividad_perro, "Agresividad con otros perros" %>
              <%= f.select :agresividad_perro, ['Nula','baja','media','alta'], {include_blank: "Seleccione"} %>
            </div>

            <div class="field">
                <%= f.label :agresividad_persona, "Agresividad con personas" %>
                <%= f.select :agresividad_persona, ['Nula','baja','media','alta'], {include_blank: "Seleccione"} %>
            </div><br>

            <div class="field">
              <% f.label :senas %>Señas<br>
              <%= f.text_area :senas, id: :perro_senas %>
            </div><br>

            <div class="field">
              <%= f.label :comentario %>(Descripción y detalles clínicos)<br>
              <%= f.text_area :comentario, id: :perro_comentario %>
            </div><br>

            <strong>Registrar suceso</strong><br>
            
            <div id="Suceso" >
                <div class="suceso-fields">
                <%= f.fields_for :suceso_perros do |suceso| %>
                    <% @this = suceso.object%>
                    <%= render "suceso_fields", f: suceso %>
                <% end %>
                </div>
            </div><br>
  
            <div class="actions">
              <%= f.submit %>
            </div><br>

        <%end%>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
