<%= form_with(model: perro, local: true) do |form| %>
  <% if perro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perro.errors.count, "error") %> prohibited this perro from being saved:</h2>

      <ul>
      <% perro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :perro_nombre %>
  </div>

  <div class="peso">
    <%= form.label :peso%>
    <%= form.number_field :peso, id: :perro_peso%> [Kg]
  </div>

  <div class="porte">
    <%= form.label :porte%>
    <%= form.select :porte, ['pequeño','mediano','grande'], {include_blank: "Seleccione"} %>
  </div>

  <div class="field">
    <%= form.label :fecha_ingreso %>
    <%= form.date_field :fecha_ingreso, :value => Time.now.strftime('%Y-%m-%d'), id: :perro_fecha_ingreso %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>(Estimada)
    <%= form.date_field :fecha_nacimiento, id: :perro_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :fecha_adopcion %>
    <p>(Dejar en blanco si aun no ha sido adoptado)</p>
    <%= form.date_field :fecha_adopcion, id: :perro_fecha_adopcion %>
  </div>

  <div class="field">
    <%= form.label :comentario %>(Descripción y detalles clínicos)<br>
    <%= form.text_field :comentario, id: :perro_comentario %>
  </div>

  <div class="field">
    <%= form.label :propietario_id %>
    <%= form.select :propietario_id, Propietario.all.collect { |p| [p.nombre, p.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>

  </div>

<%end%>
