<%= form_with(model: perro, local: true) do |form| %>
  <% if perro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perro.errors.count, "error") %> prohibited this perro from being saved:</h2>

      <ul>
      <% perro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :perro_nombre %>
  </div>

  <div class="field">
    <%= form.label :fecha_ingreso %>
    <%= form.date_select :fecha_ingreso, id: :perro_fecha_ingreso %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento, id: :perro_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :fecha_adopcion %>
    <label>
      <input type="checkbox" id="cbox1" value="sin adoptar"> Perro sin adoptar
    </label><br>
    <%= form.date_select :fecha_adopcion, id: :perro_fecha_adopcion %>
  </div>

  <div class="field">
    <%= form.label :propietario_id %>  
    <%= form.select :propietario_id, Propietario.all.collect { |p| [p.nombre, p.id] } %>
  </div>  

  <div class="actions">
    <%= form.submit %>
   
  </div>

<%end%>
