<!-- Modal -->
<div id="newModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nuevo Perro</h4>
      </div>
      <div class="modal-body">
        <%= form_for @perro, :remote=> true do |form| %>
        <% if @perro.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@perro.errors.count, "error") %> prohibited this perro from being saved:</h2>

              <ul>
                  <% @perro.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>


        <div class="field">
            <%= form.label :nombre %>
            <%= form.text_field :nombre, id: :perro_nombre %>
        </div>

        <div class="field">
            <%= form.label :picture %>
            <%= form.file_field :picture, id: :perro_picture %>
        </div>

        <div class="field">
            <%= form.label :peso%>
            <%= form.number_field :peso, id: :perro_peso%> [Kg]
        </div>

            <div class="field">
                <%= form.label :porte%>
                <%= form.select :porte, ['pequeño','mediano','grande'], {include_blank: "Seleccione"} %>
            </div>

            <div class="field">
                <%= form.label :fecha_ingreso %>
                <%= form.date_field :fecha_ingreso, :value => Time.now.strftime('%Y-%m-%d'), id: :perro_fecha_ingreso %>
            </div>

            <div class="field">
                <%= form.label :fecha_nacimiento %>(Aproximada, para poder estimar la edad del perro)<br>
                <%= form.date_field :fecha_nacimiento, :value => Time.now.strftime('%Y-%m-%d') , id: :perro_fecha_nacimiento %>
            </div>

            <div class="field">
                <%= form.label :fecha_adopcion %>(Dejar en blanco para perro aun no adoptado)<br>
                <%= form.date_field :fecha_adopcion, id: :perro_fecha_adopcion %>
            </div>

            <div class="field">
              <%= form.label :comentario %>(Descripción y detalles clínicos)<br>
              <%= form.text_area :comentario, id: :perro_comentario %>
            </div>

            <div class="field">
                <%= form.label :propietario_id %>
                <%= form.select :propietario_id,  options_for_select(Propietario.all.collect { |p| [p.nombre, p.id] }, 3 ) %>
            </div>

            <div class="field">
                <% form.label :socio_id %>
                <% form.select :socio_id,  options_for_select(Socio.all.collect { |p| [p.nombre, p.id] }, 1) %>
            </div>

            <div class="actions">
                <%= form.submit %>
            </div>

        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
