<!-- Modal -->
<div id="newModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nuevo Perro</h4>
      </div>
      <div class="modal-body">
        <%= form_for @perro, :remote=> true do |f| %>
        <% if @perro.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@perro.errors.count, "error") %> prohibited this perro from being saved:</h2>

            <ul>
            <% @perro.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= f.label :nombre %>
            <%= f.text_field :nombre, id: :perro_nombre %>
        </div>

        <div class="field">
            <%= f.label :fecha_ingreso %>
            <%= f.date_select :fecha_ingreso, id: :perro_fecha_ingreso %>
        </div>

        <div class="field">
            <%= f.label :fecha_nacimiento %>
            <%= f.date_select :fecha_nacimiento, id: :perro_fecha_nacimiento %>
        </div>

        <div class="field">
            <%= f.label :fecha_adopcion %>
            <label>
            <input type="checkbox" id="cbox1" value="sin adoptar"> Perro sin adoptar
            </label><br>
            <%= f.date_select :fecha_adopcion, id: :perro_fecha_adopcion %>
        </div>


        <div class="field">
            <%= f.label :propietario_id %>  
            <%= f.select :propietario_id, Propietario.all.collect { |p| [p.nombre, p.id] } %>
        </div>  

        <!--
         <div class="propietaarios">
            <%= render "propietario_fields", f: :propietaarios %>
        </div>  -->

        <div class="actions">
            <%= f.submit %>
        </div>

        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


