<div class="col-3">
  <figure class="figure">
    <%= link_to perro, :remote=>true do %>
      <%= image_tag perro.picture.thumb.url, class: 'figure-img img-fluid rounded' %>
    <%end%>
    <figcaption class="figure-caption">
      <strong>
        <%= perro.nombre %>
      </strong>
      <%= link_to 'Editar', edit_perro_path(perro), :remote=>true %>
      <%= link_to 'adoptar', perro_adopt_path(perro), :remote=>true %>
      <%= link_to 'Borrar', perro, method: :delete, data: { confirm: '¿Seguro?' } %>
    </figcaption>
  </figure>
</div>
