<div class="col-4">
    <%= link_to @perros, :remote=>true do %>
      <figure class="figure">
        <%= image_tag @perros.picture.thumb.url, class: 'figure-img img-fluid rounded' %>
      </figure>
    <%end%>
    <figcaption class="figure-caption"><strong><%= perro.nombre %></strong></figcaption>
    <%= link_to edit_perro_path(perro), :remote=>true do%>
      <span class="fa fa-pencil-square-o"></span>
    <%end%>
      <%= link_to 'Borrar', perro, method: :delete, data: { confirm: '¿Seguro?' } %>
</div>