<!-- Modal -->
<div id="showModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detalles perro</h4>
      </div>
        <div class="modal-body">

          <figure class="figure">
            <img src="http://www.buscadog.cl/uploads/2016-10-19_09-42-10_19_630.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption"><strong>Nombre: </strong> <%= @perro.nombre %></figcaption><br>
          </figure>

            <p>
                <strong>Peso:</strong>
                <%= @perro.peso %> [Kg]
            </p>

            <p>
                <strong>Tamaño:</strong>
                <%= @perro.porte %>
            </p>

            <p>
                <strong>Fecha ingreso:</strong>
                <%= @perro.fecha_ingreso %>
            </p>

            <p>
                <strong>Fecha nacimiento:</strong>
                <%= @perro.fecha_nacimiento %>
            </p>

            <p>
                <strong>Fecha adopcion:</strong>
                <%= @perro.fecha_adopcion %>
            </p>

            <p>
                <strong>Nombre del propietario:</strong>
                <%= @perro.propietario.nombre %>
            </p>

            <p>
                <strong>Comentario:</strong>
                <%= @perro.comentario %>
            </p>


            <%= link_to 'Edit', edit_perro_path(@perro) %> |
            <%= link_to 'Back', perros_path %>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
