<p id="notice"><%= notice %></p>

<h1>Tabla de todos perros</h1>

<%= link_to new_perro_path, :remote=>true do%> Agregar perro nuevo.
    <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
<%end%>

<h5>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Peso</th>
      <th>Tamaño</th>
      <th>Fecha ingreso</th>
      <th>Fecha adopción</th>
      <th>Fecha defuncion</th>
      <th>Propietario </th>
      <th>Padrino</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perros.each do |perro| %>
      <tr>
        <td><%= perro.nombre %></td>
        <td><%= perro.raza %></td>
        <td>
          <% fecha = perro.fecha_nacimiento %>
          <%if fecha == nil%>
            Indeterminada
          <%else%>
            <% defuncion = perro.fecha_defuncion%>
            <%if defuncion == nil  %>
              <% edad = ((Date.today - perro.fecha_nacimiento) / 365).to_i %>
            <%else%>
              <% edad = ((perro.fecha_defuncion - perro.fecha_nacimiento) / 365).to_i %>
            <%end%>
            <%if edad > 0 %>
              <%= edad %> Años
            <%else%>
              <%edad_meses = Date.today.strftime("%m").to_i  -  (perro.fecha_nacimiento.strftime("%m")).to_i  %>
              <%= edad_meses %> Meses
            <%end%>
          <%end%>
        </td>
        <td><%= perro.sexo %></td>
        <td><%= perro.peso %>[Kg]</td>
        <td><%= perro.porte %></td>
        <td><%= perro.fecha_ingreso %></td>
        <td>
            <% if (perro.fecha_adopcion == '' or perro.fecha_adopcion == nil) %>No adoptado
            <%else%><%= perro.fecha_adopcion%>
            <%end%>
        </td>
        <td>
            <% if (perro.fecha_defuncion == '' or perro.fecha_defuncion == nil) %>Vivo
            <%else%><%= perro.fecha_defuncion%>
            <%end%>
        </td>
        <td><%= perro.propietario.nombre %></td>
        <td><%= perro.socio.nombre %></td>
        <td><% if (perro.fecha_defuncion == '' or perro.fecha_defuncion == nil) %>Vivo
            <%else%>Muerto
            <%end%>
        </td>
        <td>
          <%= link_to perro, :remote=>true do %>
            Detalle<span class="fa fa-eye"></span>
          <%end%>
        </td>
        <td>
          <%= link_to edit_perro_path(perro), :remote=>true do%>
            Editar<span class="fa fa-pencil-square-o"></span>
          <%end%>
        </td>
        <td>
          <%= link_to 'Borrar', perro, method: :delete, data: { confirm: '¿Seguro?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong>Total Hitorico de perros en Stuka: </strong>
<%= @perros.count%>
<br>
<strong>Total de perros ya adoptados en Stuka: </strong>
<%= @perros.count(:fecha_adopcion) %><br>
<br>

<%= link_to 'Volver', perros_path %>


<div id ="new-perro" style = "display:noone;"></div>
<div id ="edit-perro" style = "display:noone;"></div>
<div id ="show-perro" style = "display:noone;"></div>
