<p id="notice"><%= notice %></p>


<h2>Perros actuales en Stuka </h2>
<%= link_to 'Tabla de detalles', perro_detalles_path(@perros) %><br><br>

<%= link_to new_perro_path, :remote=>true do%> Agregar perro nuevo.
    <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
<%end%>

<div class="container">
  <div class="row">
    <%= render @perros %>
  </div>
</div>


<%= link_to 'Volver', welcome_index_path %><br>

<div id ="new-perro" style = "display:noone;"></div>
<div id ="edit-perro" style = "display:noone;"></div>
<div id ="show-perro" style = "display:noone;"></div>
<div id ="adopt-perro" style = "display:noone;"></div>
