<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @perro.nombre %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @perro.peso %> [Kg]
</p> 
            
<p>
  <strong>Tamaño:</strong>
  <%= @perro.porte %>
</p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= @perro.fecha_ingreso %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @perro.fecha_nacimiento %>
</p>

<p>
  <strong>Fecha adopcion:</strong>
  <%= @perro.fecha_adopcion %>
</p>

<p>
  <strong>Nombre del propietario:</strong>
  <%= @perro.propietario.nombre  %>
</p>


<%= link_to 'Edit', edit_perro_path(@perro) %> |
<%= link_to 'Back', perros_path %>
