<p id="notice"><%= notice %></p>

<h1>Propietarios</h1>

<%= link_to new_propietario_path, :remote=>true do%> Agregar nuevo propietario.
    <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
<%end%>


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha nacimiento</th>
      <th>Email</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propietarios.each do |propietario| %>
      <tr>
        <td><%= propietario.nombre %></td>
        <td><%= propietario.fecha_nacimiento %></td>
        <td><%= propietario.email %></td>
        <td><%= propietario.telefono %></td>
        <td>
          <%= link_to propietario, :remote=>true do %>Detalle
            <span class="fa fa-eye"></span>
          <%end%>
        </td>
        <td>
          <%= link_to edit_propietario_path(propietario), :remote=>true do%>Editar
            <span class="fa fa-pencil-square-o"></span>
          <%end%>
        </td>
        <td><%= link_to 'Destroy', propietario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', welcome_index_path %>

<div id ="new-propietario" style = "display:noone;"></div>
<div id ="edit-propietario" style = "display:noone;"></div>
<div id ="show-propietario" style = "display:noone;"></div>
