<p id="notice"><%= notice %></p>

<h1>Proceso Examen</h1>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proceso_examen.each do |proceso_examan| %>
      <tr>
        <td><%= proceso_examan.proceso %></td>
        <td><%= link_to 'Show', proceso_examan %></td>
        <td><%= link_to 'Edit', edit_proceso_examan_path(proceso_examan) %></td>
        <td><%= link_to 'Destroy', proceso_examan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceso Examan', new_proceso_examan_path %>
