<p id="notice"><%= notice %></p>

<h1>Insumos</h1>

<%= link_to 'New Insumo', new_insumo_path, :remote=>true %><br>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Presentacion</th>
      <th>Precio</th>
      <th>Unidades</th>
      <th>Contenido</th>
      <th>Queda</th>
      <th>Proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insumos.each do |insumo| %>
      <tr>
        <td><%= insumo.nombre %></td>
        <td><%= insumo.tipo %></td>
        <td><%= insumo.presentacion %></td>
        <td><%= insumo.precio %></td>
        <td><%= insumo.unidades %></td>
        <td><%= insumo.cantidad %></td>
        <td><%= insumo.cantidad_actual %></td>
        <td><%= insumo.proveedor.nombre %></td>
        <td><%= link_to 'Show', insumo, :remote=>true %></td>
        <td><%= link_to 'Edit', edit_insumo_path(insumo), :remote=>true %></td>
        <td><%= link_to 'Destroy', insumo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id ="new-insumo" style = "display:noone;"></div>
<div id ="edit-insumo" style = "display:noone;"></div>
<div id ="show-insumo" style = "display:noone;"></div>

<%= link_to 'Volver', welcome_index_path %>