<p id="notice"><%= notice %></p>

<h1>Boleta</h1>
<%= link_to new_boletum_path do%> Generar boleta.
  <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
<%end%>
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Valor</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boleta.each do |boletum| %>
      <tr>
        <td><%= boletum.fecha %></td>
        <td><%= boletum.valor %></td>
        <td><%= boletum.descripcion %></td>
        <td><%= link_to 'Show', boletum %></td>
        <td><%= link_to 'Edit', edit_boletum_path(boletum) %></td>
        <td><%= link_to 'Destroy', boletum, method: :delete, data: { confirm: '¿Eliminar boleta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Volver', welcome_index_path %>

<div id ="new-boleta" style = "display:noone;"></div>
<div id ="edit-boleta" style = "display:noone;"></div>
<div id ="show-boleta" style = "display:noone;"></div>