<h1><strong>Stuka</strong></h1>
<h3>bienvenido <%= current_user.email %></h3>
<h4><%= link_to "Cerrar sesión" , destroy_user_session_path, :method=>:delete %><h4>
<br/>
<h2>¿Que desea hacer?</h2>
<br/>
<h5>Gestión de Perros</h5>
<h5><%= link_to 'Perros', perros_path %></h5>
<br>
<h4>Socios y adoptantes</h4>
<h5><%= link_to 'Adoptantes y dueños externos', propietarios_path %></h5>
<h5><%= link_to 'Socios y Padrinos', socios_path %></h5>
<br/>
<h4>Gestión medica</h4>
<h4><%= link_to 'Veterinarios', veterinarios_path %></h4>
<h5><%= link_to 'Consultas', consulta_path %></h5>
<h5><%= link_to 'Procedimientos', procedimientos_path %></h5>
<br/>
<h4>Gestión Inventario</h3>
<h5><%= link_to 'Proveedores', proveedors_path %></h5>
<h5><%= link_to 'Insumos', insumos_path %></h5>
<br/>
<h5><% link_to 'Gestión Usuarios', propietarios_path %></h5>
