<h1>Stuka</h1>
<h2>bienvenido <%= current_user.email %></h2>
<%= link_to "Cerrar sesion" , destroy_user_session_path, :method=>:delete %>
<h3>que desea hacer?</h3>


<%= link_to 'Perros', perros_path %><bl/>
<%= link_to 'Propietarios', propietarios_path %><bl/>
<%= link_to 'Veterinarios', veterinarios_path %><bl/>
<%= link_to 'Consultas', consulta_path %><bl/>
<%= link_to 'Procedimientos', procedimientos_path %><bl/>
<%= link_to 'Proveedores', proveedors_path %><bl/>
<% link_to 'Gestion Usuarios', propietarios_path %><bl/>
