<p id="notice"><%= notice %></p>

<h1>Con Ins</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Consulta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @con_ins.each do |con_in| %>
      <tr>
        <td><%= con_in.nombre %></td>
        <td><%= con_in.consulta %></td>
        <td><%= link_to 'Show', con_in %></td>
        <td><%= link_to 'Edit', edit_con_in_path(con_in) %></td>
        <td><%= link_to 'Destroy', con_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Con In', new_con_in_path %>
