<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @con_in.nombre %>
</p>

<p>
  <strong>Consulta:</strong>
  <%= @con_in.consulta %>
</p>

<%= link_to 'Edit', edit_con_in_path(@con_in) %> |
<%= link_to 'Back', con_ins_path %>
