<%= form_with(model: consultum, local: true) do |f| %>
  <% if consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
      <% consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_field :fecha, :value => Time.now.strftime('%Y-%m-%d'), id: :consultum_fecha %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.select :tipo, ['Interna','Externa'], {include_blank: "Seleccione"} %>
  </div><br>

  <div class="field">
      <% f.label :precio %>Precio base
      <%= f.number_field :precio, :value => '5000' , id: :consultum_precio %>
  </div>
              
  <div class="field">
    <% f.label :perro_id %>Paciente:
    <%= f.collection_select :perro_id, Perro.order(:nombre), :id, :nombre %>
  </div><br>


  <strong>Veterinarios:</strong>

  <div id="veterinarios" >
    <div class="veterinarios-fields">
      <%= f.fields_for :con_vets do |con_vet| %>
        <%= render "veterinarios_fields", f: con_vet %>
      <% end %>
    </div>
  </div>

  <strong>
    <div class="links">
      <%= link_to_add_association 'Añadir veterinario', f, :con_vets,
      'data-association-insertion-node' =>  '.veterinarios-fields',
      'data-association-insertion-method' => 'append', :class => 'col-xs-1',
      partial: 'veterinarios_fields' %>
    </div><br>
  </strong>


  <strong>Procedimientos realizados:</strong>

  <div id="procedimientos" >
    <div class="procedimientos-fields">
      <%= f.fields_for :con_procs do |con_proc| %>
        <%= render "procedimientos_fields", f: con_proc %>
      <% end %>
    </div>
  </div>
  
  <strong>
    <div class="links">
      <%= link_to_add_association 'Añadir procedimiento', f, :con_procs,
      'data-association-insertion-node' =>  '.procedimientos-fields',
      'data-association-insertion-method' => 'append', :class => 'col-xs-1',
      partial: 'procedimientos_fields' %>
    </div><br>
  </strong>

  <strong>Insumos Utilizados</strong>

  <div id="Insumos" >
      <div class="insumos-fields">
      <%= f.fields_for :con_ins do |con_in| %>
          <%= render "insumos_fields", f: con_in %>
      <% end %>
      </div>
  </div>
  
  <strong>
      <div class="links">
          <%= link_to_add_association 'Añadir insumo', f, :con_ins,
          'data-association-insertion-node' =>  '.insumos-fields',
          'data-association-insertion-method' => 'append', :class => 'col-xs-1',
          partial: 'insumos_fields' %>
      </div><br>
  </strong>

  <strong>Examenes</strong>

  <div id="Examen" >
      <div class="orden_examenes-fields">
      <%= f.fields_for :orden_examen do |examen| %>
          <%= render "orden_examenes_fields", f: examen %>
      <% end %>
      </div>
  </div>
  
  <strong>
      <div class="links">
          <%= link_to_add_association 'Añadir examen', f, :orden_examen,
          'data-association-insertion-node' =>  '.orden_examenes-fields',
          'data-association-insertion-method' => 'append', :class => 'col-xs-1',
          partial: 'orden_examenes_fields' %>
      </div><br>
  </strong>

  <strong>Anexos</strong>

  <div id="Anexos" >
      <div class="anexos-fields">
      <%= f.fields_for :anexos do |anexo| %>
          <%= render "anexos_fields", f: anexo %>
      <% end %>
      </div>
  </div>
  
  <strong>
      <div class="links">
          <%= link_to_add_association 'Añadir insumo', f, :anexos,
          'data-association-insertion-node' =>  '.anexos-fields',
          'data-association-insertion-method' => 'append', :class => 'col-xs-1',
          partial: 'anexos_fields' %>
      </div><br>
  </strong>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
