<%= form_with(model: consultum, local: true) do |f| %>
  <% if consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
      <% consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_field :fecha, :value => Time.now.strftime('%Y-%m-%d'), id: :consultum_fecha %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.select :tipo, ['Interna','Externa'], {include_blank: "Seleccione"} %>
  </div>

  <h2>Procedimientos realizados</h2>

  <div id="procedimientos" >
    <div class="procedimientos-fields">
      <%= f.fields_for :con_procs do |con_proc| %>
        <%= render "procedimientos_fields", f: con_proc %>
      <% end %>
    </div>
  </div>
  
  <div class="links">
    <%= link_to_add_association 'añadir procedimiento', f, :con_procs,
    'data-association-insertion-node' =>  '.procedimientos-fields',
    'data-association-insertion-method' => 'append', :class => 'col-xs-1',
    partial: 'procedimientos_fields' %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
