<p id="notice"><%= notice %></p>

<h1>Consulta</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consulta.each do |consultum| %>
      <tr>
        <td><%= consultum.fecha %></td>
        <td><%= consultum.tipo %></td>
        <td><%= link_to 'Detalle', consultum, :remote=>true  %></td>
        <td><%= link_to 'Editar', edit_consultum_path(consultum), :remote=>true %></td>
        <td><%= link_to 'Destroy', consultum, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Generar consulta', new_consultum_path, :remote=>true %><br>
<%= link_to 'Volver', welcome_index_path %>


<div id ="new-consulta" style = "display:noone;"></div>
<div id ="edit-consulta" style = "display:noone;"></div>
<div id ="show-consulta" style = "display:noone;"></div>