<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @consultum.fecha %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @consultum.tipo %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>
