<p id="notice"><%= notice %></p>

<h1>Con Vets</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Consulta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @con_vets.each do |con_vet| %>
      <tr>
        <td><%= con_vet.nombre %></td>
        <td><%= con_vet.consulta %></td>
        <td><%= link_to 'Show', con_vet %></td>
        <td><%= link_to 'Edit', edit_con_vet_path(con_vet) %></td>
        <td><%= link_to 'Destroy', con_vet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Con Vet', new_con_vet_path %>
