<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @procedimiento.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @procedimiento.precio %>
</p>

<p>
  <strong>Precio sruka:</strong>
  <%= @procedimiento.precio_sruka %>
</p>

<p>
  <strong>Precio costo:</strong>
  <%= @procedimiento.precio_costo %>
</p>


<%= link_to 'Edit', edit_procedimiento_path(@procedimiento) %> |
<%= link_to 'Back', procedimientos_path %>
